<?xml version="1.0"?>

<launch>

  <!-- Convert an xacro and put on Paramter Server -->
  <!-- For xacro file -->
  <param name="robot_description" command="xacro '$(find robot_model)/urdf/mecanum_xacro.xacro'"/>

  <!-- Used to Publish fixed frames ( transformations ) -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"> </node>

  <!-- Used to Publish joint states -->
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />

  <!-- The built gazebo world -->
  <arg name="world" default="$(find robot_model)/worlds/custom_map3"/>

  <!-- To be tested if i remove world parameters will world crash -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)" />
    <arg name="verbose" value="false" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Spawn the robot model in Gazebo -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawnning_model" output="screen"
    args="-urdf -param robot_description -model robot"/>

  <!-- Static Transform Publisher for Kinect -->
  <node pkg="tf" type="static_transform_publisher" name="static_tf_publisher"
    args="0 0 0 -1.57 0 -1.57 kinect_xbox360 kinect 100" />

 
</launch>
